body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.navbar{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul{
    list-style: none;
    display: flex;
}
.menu ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.common-btn{
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007BFF;
    cursor: pointer;
    font-weight: bold;
    border: none;
}
.hero-bg-image{
    background-image: url('../assets/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    overlay: rgba(24, 2, 2, 0.5);

}
.hero-bg-image .hero-content{
    color: white;
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    vertical-align: -webkit-baseline-middle;
}

.meet-the-speakers{
    margin-top: 100px;
    text-align: center;
}
.meet-the-speakers h2{
    font-size: 3em;
    margin-bottom: 20px;
    color: #0D1B2A;
}
.speakers-cards-container{
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 20px;
}

.speaker-card{
    border: 2px dotted #ddd;
    border-radius: 25px 25px 0px 0px;
    text-align: left;
}
.speaker-card span, .speaker-card h3, .speaker-card p{
    padding:0;
    padding-left: 20px;
}
.speaker-card img{
    width: 100%;
    height: auto;
}
.speaker-badge{
    color: #2563EB;
    text-transform: uppercase;
}

.secure-your-spot{
    margin-top: 100px;
    text-align: center;
}

.secure-your-spot h2{
    font-size: 3em;
    margin-bottom: 20px;
    color: #0D1B2A;
}
.secure-your-spot p{
    font-size: 1.0em;
    margin-bottom: 20px;
}
.pricing-cards-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.pricing-card{
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}
.pricing-badge{
    text-transform: uppercase;
    color:#888888;
    font-weight: bold;
}

.highlighted{
    background-color: #0D1B2A;
    color: rgba(255, 255, 255, 0.801);
}
.pricing-badge-highlighed{
    color: #2563EB;
    text-transform: uppercase;
}
.highlighted h2{
    color: #ffffff;
    padding: 0;
}
.highlighted hr{
    color: #ffffff10;
}
.price-unit{
    color: #888888 ;
}